[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent-websocket = "*"
flask-cors = "*"
flask-socketio = ">5.0.0"

[dev-packages]

[requires]
python_version = "3.9"
