[Unit]
Description=tankontrol streameye webcam stream
After=network.target

[Service]
ExecStart=/opt/tankontrol/streameye.sh

[Install]
WantedBy=multi-user.target
