<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, user-scalable=no">
	    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
        <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
        <script src="{{ url_for('static', filename='js/joy.min.js') }}"></script>
    </head>
    <body>
	<div id="infozone" class="info_zone">
	    <div id="connex" style="text-align:center;width:100%;margin:0;padding:0;">
                <div class="led-box"><div class="led-red"></div><div class="led-text">Not Connected</div></div>
            </div>
	    <img src="http://tank:8080/" width="100%" />
        </div>
	

	<div id="controls" class="controls">
            <div id="joystick" class="joystick_zone" style="float:left;">
                <a href="#" id="button1" class="button buttonA noSelect"></a>
	    </div>
            <div id="joystick2" class="joystick_zone" style="float:right;">
                <a href="#" id="button1" class="button buttonB noSelect"></a>
	    </div>
	</div>

        <script type="text/javascript">
            var socket_status = io.connect('http://'+location.host+"/status");
            var socket_control = io.connect('http://'+location.host+"/control");

            $(document).ready(function(){
                /* connected display */
                setInterval(function(){
                    if(socket_control.connected){
                        $('#connex').html('<div class="led-box"><div class="led-blue"></div><div class="led-text">Connected</div></div>');
                    }else{
                        $('#connex').html('<div class="led-box"><div class="led-red"></div><div class="led-text">Not Connected</div></div>');
                    }
                }, 1000);

                /******************************************
                  BUTTONS
                  *****************************************/
                $(document).on('touchstart touchmove', '#button1', function(evt){
                    socket_control.emit('control', { data: { "A" : 1 } });
                });
                /******************************************
                  JOYSTICKS
                  *****************************************/
                var Joy1 = new JoyStick('joystick', {}, function(stickData) {
                    // console.log("joy1 used" + JSON.stringify({ data:{"left": [ stickData.x, stickData.y ] } }))
                    socket_control.emit('control', { data: { "left" : [ stickData.x, stickData.y ] } });
                });
                var Joy2 = new JoyStick('joystick2', {}, function(stickData) {
                    // console.log("joy2 used" + JSON.stringify({ data:{"left": [ stickData.x, stickData.y ] } }))
                    socket_control.emit('control', { data: { "right" : [ stickData.x, stickData.y ] } });
                });
            });
            
        </script>
    </body>
</html>
